<form name="form" data-ng-submit="submit()" data-role="form" method="post" novalidate>
<div data-ng-controller="fundingCtrl">
    <h1 class="text-center">Your Funding</h1>
    <p class="row text-center help">
       Tell us about your company's funding sources over the recent years. Click Add next to each grant you've received in order to add the details. When you've added all your funding sources, click Next to continue.
    </p>
    <div class="row mg-top-15">
        <div class="section-title">
            Formula Grants
        </div>
        <div class="table-container">
        <div class="row no-margin table-row" data-ng-repeat="fundSource in (company.fundSources|sourceType: 'formula')" data-ng-class="fundSource.donations? 'row-edit': 'row-add'">
            <div class="col-xs-1 col-sm-1 col-md-1 text-right fa" data-ng-class="fundSource.donations?'fa-check-circle':fundSource.required?'fa-warning':''"></div>
            <div class="col-xs-6 col-sm-8 col-md-9">{{fundSource.name}}</div>
            <div class="col-xs-5 col-sm-3 col-md-2 text-center"><button type="button" class="bus-btn" data-ng-class="fundSource.donations? 'btn-edit': 'btn-add'" data-ng-click="addEditFundSource(fundSource)"><i class="fa" data-ng-class="vehicle.replacements? 'fa-pencil' : 'fa-plus' "></i>{{fundSource.donations? 'Edit' : 'Add'}}</button></div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="section-title">
            Discretionary Grants
        </div>
        <div class="table-container">
        <div class="row no-margin table-row" data-ng-repeat="fundSource in (company.fundSources|sourceType: 'discretionary')" data-ng-class="fundSource.donations? 'row-edit': 'row-add'">
            <div class="col-xs-1 col-sm-1 col-md-1 text-right fa" data-ng-class="fundSource.donations?'fa-check-circle':fundSource.required?'fa-warning':''"></div>
            <div class="col-xs-6 col-sm-8 col-md-9">{{fundSource.name}}</div>
            <div class="col-xs-5 col-sm-3 col-md-2 text-center"><button type="button" class="bus-btn" data-ng-class="fundSource.donations? 'btn-edit': 'btn-add'" data-ng-click="addEditFundSource(fundSource)"><i class="fa" data-ng-class="vehicle.replacements? 'fa-pencil' : 'fa-plus' "></i>{{fundSource.donations? 'Edit' : 'Add'}}</button></div>
        </div>
        </div>
    </div>
     <div class="row mg-top-15">
        <span class="center-block section-title-icon"><i class="fa fa-pencil yellow-icon"></i></span>
        <div class="section-title col-xs-12">Review your yearly inflation rate:</div>
        <div class="col-xs-12 mg-top-5 help">We've gone ahead and entered the estimated yearly inflation rate for your area. Feel free to edit it if needed</div>
        <div class="col-xs-8 col-sm-7 col-md-4 center-block">
            <div class="row mg-top-10">
                <span class="input-label col-xs-7 col-md-8">Funding Year Inflation:</span>
                <span class="col-xs-4 col-md-3" data-ng-class="(form.inflation_rate.$error | keylength) > 0 ? 'has-error':''"><input class="bus-input" type="text" data-ng-model="company.fundingInflationRate" name="inflation_rate" data-ng-pattern="/^[0-9]*$/" max="100" min="0" required/></span>
                <span class="percentage col-xs-1 col-md-1">%</span>
            </div>
            <span data-ng-show="form.inflation_rate.$error.required">Required.</span>
            <span data-ng-show="form.inflation_rate.$error.pattern">This is not a valid number.</span>
            <span data-ng-show="form.inflation_rate.$error.min || form.contact_email.$error.max">Rate must be between 0 and 100.</span>
        </div>
    </div>
    <div class="btn-group nav-btn-grp mg-top-15 mg-bttm-15">
        <button type="button" class="bus-btn pull-right btn-nav btn-next" data-ng-disabled="form.$invalid" data-ng-click="next()">Fleet Cost <i class="fa fa-angle-right"></i></button>
        <button type="button" class="bus-btn pull-right btn-nav btn-back" data-ng-click="back()"><i class="fa fa-angle-left"></i> Back to Info</button>
    </div>
</div>
</form>