<div class="row">
<form name="form" data-ng-submit="submit()" data-role="form" method="post" novalidate>
<div class="modal-header">
    <i class="fa fa-close pull-right close" data-ng-click="cancel()"></i> 
    <h2>Add Funding Details for</h2>
    <h1>{{selectedFundSource.name}}</h1>
</div>
<div class="modal-body vm">
    <div class="description">
        Enter the total amount of funds your agency recieved for each funding year.
    </div>
    <div class="row">
        <div class="col-xs-12 help-2">- Show de federal portion.</div>
        <div class="col-xs-12 help-2">- Do not include local match.</div>
        <div class="col-xs-12 help-2">- The funding year is federal budget year that Congress appropiated (awarded) the funds to you. For example, if Congress appropriated $5,000,000 of "FY2014" funds during the 2014</div>
    </div>
    <div class="row mg-top-15">
        <div class="center-block col-xs-12 col-sm-9 col-md-7">
            <table class="col-xs-12 mg-top-15 year-input-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="year in (selectedFundSource | fundSourceLifetime)">
                        <td class="year">{{year}}</td>
                        <td data-ng-class="showErrors && (form.donation_{{year}}.$error | keylength) > 0 ? 'has-error':''">
                            <input type="text" class="bus-input form-control" name="donation_{{year}}" data-ng-model="selectedFundSource.donations[year]" data-ng-pattern="/^[0-9]*$/" />
                            <span class="pull-left" data-ng-show="showErrors && form.donation_{{year}}.$error.pattern">Not a valid number!</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer col-xs-12">
    <button type="button"  class="bus-btn btn-nav btn-cancel"  data-ng-click="cancel()" ><i class="fa fa-close"></i>Cancel</button>
    <button type="submit"  class="bus-btn btn-nav btn-save">Save</button>
</div>
</form>
</div>