<div data-ng-controller="fundingCtrl">
    <h2>Your Funding</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 ">
         Tell us about your company's funding sources over the recent years. Click Add next to each grant you've received in order to add the details. When you've added all your funding sources, click Next to continue.
        </div>
    </div>
    <div class="row">
        <h3>Formula Grants</h3>
        <div class="row" data-ng-repeat="fundSource in company.fundSources.formula">
            <div class="col-xs-8">{{fundSource.name}}<span data-ng-show="fundSource.donations" class="glyphicon glyphicon-ok"></span></div>
            <div class="col-xs-4"><button type="button" class="btn" data-ng-class="fundSource.donations? 'btn-default': 'btn-success'" data-ng-click="addEditFundSource(fundSource)">{{fundSource.donations? 'Edit' : 'Add'}}</button></div>
        </div>
    </div>
    <div class="row">
        <h3>Discretionary Grants</h3>
        <div class="row" data-ng-repeat="fundSource in company.fundSources.discretionary">
            <div class="col-xs-8">{{fundSource.name}}<span data-ng-show="fundSource.donations" class="glyphicon glyphicon-ok"></span></div>
            <div class="col-xs-4"><button type="button" class="btn" data-ng-class="fundSource.donations? 'btn-default': 'btn-success'" data-ng-click="addEditFundSource(fundSource)">{{fundSource.donations? 'Edit' : 'Add'}}</button></div>
        </div>
    </div>
    <div class="row">
        <h3>Review your yearly inflation rate:</h3>
        <div class="col-xs-12">We've gone ahead and entered the estimated yearly inflation rate for your area. Feel free to edit it if needed</div>
        <div class="col-xs-12 col-sm-10 col-md-6 center-block"><label>Funding Year Inflation:</label><input type="text" data-ng-model="company.fundingInflationRate"/>%</div>
    </div>
    <button type="button" class="btn btn-default" data-ng-click="back()">Back</button>
    <button type="button" class="btn btn-default" data-ng-click="next()">Next</button>
</div>

