<div class="row">
<form name="form" data-ng-submit="submit()" data-role="form" method="post" novalidate>
<div class="modal-header"> 
    <i class="fa fa-close pull-right close" data-ng-click="cancel()"></i>
    <h2>Add Vehicle Details for</h2>
    <h1>{{selectedVehicle.name}}</h1>
</div>

<div class="modal-body vm">
    <div class="row input-row mg-top-10 form-group">
        <div class="col-xs-8 description">
            How many of this vehicle type are currently in your fleet?
        </div>
        <div class="col-xs-4" data-ng-class="showErrors && (form.amount.$error| keylength) > 0 ? 'has-error':''">
            <input type="text" class="bus-input form-control" data-ng-model="selectedVehicle.amount" name="amount"  data-ng-pattern="/^[0-9]*$/" required/>
            <span data-ng-show="showErrors && form.amount.$error.required">Required.</span>
            <span data-ng-show="showErrors && form.amount.$error.pattern">Not a valid number!.</span>
        </div>
    </div>
    <div class="row input-row mg-top-10">    
        <div class="col-xs-7 description">
            What is the current price of this vehicle?
        </div>
        <span class=" col-xs-1 dollar-sign text-right no-padding">$</span>
        <div class="col-xs-4" data-ng-class="showErrors && (form.price.$error | keylength) > 0 ? 'has-error':''">
            <input type="text" class="bus-input form-control" data-ng-model="selectedVehicle.price" name="price" required/>
            <span data-ng-show="showErrors && form.price.$error.required">Required.</span>
            <span data-ng-show="showErrors && form.price.$error.pattern">Not a valid number!.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 note no-padding">
            Edit our estimated price to reflect how much your system actually pays to replace this type of vehicle. 
        </div>
        <div class="col-xs-offset-4"></div>
    </div>
    <div class="row mg-top-15">
        <span class="description">For each year, estimate the number of vehicles of this type that will need to be replaced.</span>
        <div class="center-block col-xs-12 col-sm-9 col-md-7">
            <table class="col-xs-12 mg-top-15 year-input-table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Number of Vehicles Reaching Useful Life</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="year in (actualYear() | vehicleLifetime)">
                        <td class="year">{{year}}</td>
                        <td data-ng-class="showErrors && (form.replacements_{{year}}.$error | keylength) > 0 ? 'has-error':''">
                            <input type="text" class="bus-input form-control" name="replacements_{{year}}" data-ng-model="selectedVehicle.replacements[year]" data-ng-pattern="/^[0-9]*$/"/>
                            <span class="pull-left" data-ng-show="showErrors && form.replacements_{{year}}.$error.pattern">Not a valid number!</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer col-xs-12">
    <button type="button"  class="bus-btn btn-nav btn-cancel"  data-ng-click="cancel()" ><i class="fa fa-close"></i>Cancel</button>
    <button type="submit"  class="bus-btn btn-nav btn-save"  data-ng-click="submit()" >Save</button>
</div>
</form>
</div>
