<div class="row">
<form ng-submit="submit()" role="form" method="post" class="col-xs-12">
<div class="modal-body">
    <h3>Add Vehicle Details</h3>
    <h3>{{selectedVehicle.name}}</h3>
    <div class="row">
        <div class="col-xs-8">
            How many of this vehicle type are currently in your fleet?
        </div>
        <div class="col-xs-4">
            <input type="text" data-ng-model="selectedVehicle.amount"/>
        </div>
        
        <div class="col-xs-8">
            What is the current price of this vehicle? 
        </div>
        <div class="col-xs-4">
            <input type="text" data-ng-model="selectedVehicle.price"/>
        </div>
        <div class="col-xs-8">
            Edit our estimated price to reflect how much your system actually pays to replace this type of vehicle. 
        </div>
        <div class="col-xs-offset-4"></div>
    </div>
    <div class="row">
        <span>For each year, estimate the number of vehicles of this type that will need to be replaced.</span>
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Number of Vehicles Reaching Useful Life</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="year in (actualYear() | vehicleLifetime)">
                    <td>{{year}}</td>
                    <td><input type="text" data-ng-model="selectedVehicle.replacements[year]" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer col-xs-12">
    <button type="submit" class="btn btn-primary" data-ng-disabled="form.$invalid" >Submit</button>
    <button type="button" class="btn btn-default" data-ng-click="cancel()" >Cancel</button>
</div>
</form>
</div>